{% include 'base/layout.html' %}
<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Page Title</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.60/jquery.min.js"></script>
  {% load static %}

  <style>
    .center-form {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
  </style>
</head>

<body>
  <div class="center-form">
  {% block content %}
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="{{ form.first_name.id_for_label }}">{{ form.first_name.label }}</label>
        <br>
        {{ form.first_name }}
    </div>
    <div class="form-group">
        <label for="{{ form.last_name.id_for_label }}">{{ form.last_name.label }}</label>
        <br>
        {{ form.last_name }}
    </div>
    <div class="form-group">
        <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
        <br>
        {{ form.username }}
    </div>
    <div class="form-group">
        <label for="{{ form.password1.id_for_label }}">{{ form.password1.label }}</label>
        <br>
        {{ form.password1 }}
    </div>
    <div class="form-group">
        <label for="{{ form.password2.id_for_label }}">{{ form.password2.label }}</label>
        <br>
        {{ form.password2 }}
    </div>
    <br>
    <button type="submit">Zarejestruj się</button>
</form>
{% endblock %}





  </div>
</body>